<%- include('./includes/head.ejs') %>
<div class="text-center">
    <h4 class="m-5">صفحه مورد نظر یافت نشد!</h4>
    <a class="btn btn-outline-info" href="/"
        >برگشت به صفحه اصلی
        <span class="fa fa-heart" style="color: rgba(148, 17, 17, 0.904);"></span>
    </a>
</div>
<%- include('./includes/footer.ejs') %>
